.fixed-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: lightgray; }

#form-control {
  margin-left: 20%;
  margin-right: 20%; }
.center-item{
	margin-left: 30%;
	margin-right: 20%;
}
